* text=auto
*.h text eol=lf
*.cpp text eol=lf
*.cs text eol=lf
*.ini text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.uproject text eol=lf
*.uplugin text eol=lf
*.uasset binary
*.umap binary
*.png binary
*.jpg binary
*.jpeg binary